@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/static/RobotoMono-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'RobotoMono';
    src:url('../fonts/static/RobotoMono-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'RobotoMono';
    src:url('../fonts/static/RobotoMono-Light.ttf');
    font-weight: 300;
}

.register-parent {
    height: 100%;
    padding: 0 2%;
    background-color: #fb123991;
    
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 670px;
    transition: 2.8s;
}

.register {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    /* background-color: rgb(255, 213, 213); */
    border: 10px solid rgb(250, 247, 247);
    border-radius: 10px 10px 10px 10px;
    color: rgb(240, 233, 233);
    background-color: rgba(0, 0, 5, 0, 8);
    transition: 2.8s;
    
}

.register-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 2.8s;
}

.register-title img{
        /* largura da imagem do cadastro */
    height: 60px;  /* altura da imagem do cadastro */
}

.register-title h2{
    font-size: 30px;
    transition: 2.8s;
}

/* .register .form-group label {
    font-size: 14px;
} */

/* .register .form-group input {
    font-size: 14px;
} */

.register button{
    margin-top: 40px;
    animation: color 100s infinite;
    
    color: #fff;
    width:100%;
    display: block;
    border: none; /* SEMPRE ESQUEÇO ESSA POHA */
    transition: 2.8s;
    background-color: red;
    animation-name: color;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.register button:hover{
    color:  #f0e8e8;
    border: none;
    transform: scale(1.05);
    transition: 2.8s;
    font-size: 16px;
    animation: color 100s ease-in infinite;
}



.form-check-input:checked {
    background-color: #fd0d12!important;
    border-color: transparent;
}

@keyframes color{
    from{
        background-image: linear-gradient(to right, #f1c9d6, #d35454, #fb1237);
    }
    to{
        background-image: linear-gradient(to right, #fb1237, #d35454, #f1c9d6);
    }
    100%{
        background-image: linear-gradient(to left, #f1c9d6, #d35454, #fb1237);
    }
}

@keyframes stretch {
    0% {
      width: 100%;
      background-color: red;
      border-radius: 100%;
    }
    50% {
        text-align: center;
        width: 70%;
      background-color: orange;
    }
    100% {
      
      background-color: yellow;
    }
  }
